
.e24_946 { 
	width:409.83782958984375px;
	height:892px;
	position:absolute;

}
.e24_947 { 
	background-color:rgba(255, 255, 255, 1);
	width:409.83782958984375px;
	height:892px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:36.93437576293945px;
	border-top-right-radius:36.93437576293945px;
	border-bottom-left-radius:36.93437576293945px;
	border-bottom-right-radius:36.93437576293945px;
}
.e24_950 { 
	background-color:rgba(242.00000077486038, 201.00000321865082, 76.0000030696392, 1);
	width:353.37213134765625px;
	height:147.7375030517578px;
	position:absolute;
	left:29.94677734375px;
	top:196.65060424804688px;
	border-top-left-radius:18.96630096435547px;
	border-top-right-radius:18.96630096435547px;
	border-bottom-left-radius:18.96630096435547px;
	border-bottom-right-radius:18.96630096435547px;
}
.e24_951 { 
	width:353.37213134765625px;
	height:147.7375030517578px;
	position:absolute;
	left:29.94677734375px;
	top:196.65060424804688px;
	border-top-left-radius:18.96630096435547px;
	border-top-right-radius:18.96630096435547px;
	border-bottom-left-radius:18.96630096435547px;
	border-bottom-right-radius:18.96630096435547px;
	background-image:url(images/rectangle_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_952 { 
	width:157.72006225585938px;
	height:76.86344146728516px;
	position:absolute;
	left:65.8829345703125px;
	top:228.17947387695312px;
}
.e24_953 { 
	color:rgba(255, 255, 255, 1);
	width:157.7197723388672px;
	height:65.88294219970703px;
	position:absolute;
	left:0.0003147125244140625px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:29.946788787841797px;
	letter-spacing:0.37333664298057556;
	line-height:px;
}
.e24_954 { 
	color:rgba(255, 255, 255, 1);
	width:157.7197723388672px;
	height:13.975168228149414px;
	position:absolute;
	left:-0.0000022105300558905583px;
	top:62.88826370239258px;
	font-family:Roboto;
	text-align:left;
	font-size:11.978715896606445px;
	letter-spacing:0.37333664298057556;
	line-height:px;
}
.e24_955 { 
	width:371.924072265625px;
	height:873.4480590820312px;
	position:absolute;
	left:19.96453857421875px;
	top:0px;
}
.e24_956 { 
	width:25.95388412475586px;
	height:25.95388412475586px;
	position:absolute;
	left:339.39697265625px;
	top:56.898895263671875px;
}
.ei24_956_4_70 { 
	background-color:rgba(46.000001057982445, 58.1833329051733, 89.00000229477882, 1);
	width:21.628454208374023px;
	height:21.62832260131836px;
	position:absolute;
	left:2.1627962589263916px;
	top:2.1627962589263916px;
}
.e24_957 { 
	width:371.924072265625px;
	height:43.92196273803711px;
	position:absolute;
	left:0px;
	top:0px;
}
.e24_958 { 
	color:rgba(0, 0, 0, 1);
	width:53.90422439575195px;
	height:17.968074798583984px;
	position:absolute;
	left:20.962766647338867px;
	top:13.97515869140625px;
	font-family:Roboto;
	text-align:center;
	font-size:14.973394393920898px;
	letter-spacing:-0.29946789145469666;
}
.e24_959 { 
	width:24.285024642944336px;
	height:11.313231468200684px;
	position:absolute;
	left:333.325927734375px;
	top:17.302600860595703px;
}
.e24_960 { 
	opacity:0.3499999940395355;
	width:21.960981369018555px;
	height:11.313231468200684px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:2.6619369983673096px;
	border-top-right-radius:2.6619369983673096px;
	border-bottom-left-radius:2.6619369983673096px;
	border-bottom-right-radius:2.6619369983673096px;
}

.e24_961 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.4000000059604645;
	width:1.325682520866394px;
	height:3.992905378341675px;
	position:absolute;
	left:22.9593563079834px;
	top:3.660064935684204px;
}
.e24_962 { 
	background-color:rgba(0, 0, 0, 1);
	width:17.968074798583984px;
	height:7.320326805114746px;
	position:absolute;
	left:1.9966044425964355px;
	top:1.996388554573059px;
	border-top-left-radius:1.3309684991836548px;
	border-top-right-radius:1.3309684991836548px;
	border-bottom-left-radius:1.3309684991836548px;
	border-bottom-right-radius:1.3309684991836548px;
}
.e24_963 { 
	background-color:rgba(0, 0, 0, 1);
	width:15.306102752685547px;
	height:10.98038101196289px;
	position:absolute;
	left:313.0287170410156px;
	top:17.29998016357422px;
}
.e24_964 { 
	background-color:rgba(0, 0, 0, 1);
	width:15.306102752685547px;
	height:4.749690055847168px;
	position:absolute;
	left:0px;
	top:-3.552713678800501e-15px;
}
.e24_965 { 
	background-color:rgba(0, 0, 0, 1);
	width:9.97098445892334px;
	height:3.638925075531006px;
	position:absolute;
	left:2.6690378189086914px;
	top:3.7990336418151855px;
}
.e24_966 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.636510372161865px;
	height:3.378997802734375px;
	position:absolute;
	left:5.33522367477417px;
	top:7.60136079788208px;
}
.e24_967 { 
	background-color:rgba(0, 0, 0, 1);
	width:16.9698486328125px;
	height:10.647747993469238px;
	position:absolute;
	left:291.0677490234375px;
	top:17.635395050048828px;
}
.e24_968 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.9946792125701904px;
	height:3.992905378341675px;
	position:absolute;
	left:0px;
	top:6.654825687408447px;
}
.e24_969 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.9946792125701904px;
	height:5.989358425140381px;
	position:absolute;
	left:4.658426284790039px;
	top:4.658365726470947px;
}
.e24_970 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.9946792125701904px;
	height:8.31855297088623px;
	position:absolute;
	left:9.316717147827148px;
	top:2.3292131423950195px;
}
.e24_971 { 
	background-color:rgba(0, 0, 0, 1);
	width:2.9946792125701904px;
	height:10.647747993469238px;
	position:absolute;
	left:13.97515869140625px;
	top:0px;
}
.e24_972 { 
	color:rgba(0, 0, 0, 1);
	width:260.5370788574219px;
	height:61.89003372192383px;
	position:absolute;
	left:9.982237815856934px;
	top:101.40472412109375px;
	font-family:Roboto;
	text-align:left;
	font-size:29.946788787841797px;
	letter-spacing:0.37333664298057556;
	line-height:px;
}
.e24_973 { 
	width:161.71267700195312px;
	height:233.5849609375px;
	position:absolute;
	left:9.982237815856934px;
	top:375.3331298828125px;
}
.e24_974 { 
	border-radius:500px;
	background-color:rgba(242.00000077486038, 201.00000321865082, 76.0000030696392, 0.20000000298023224);
	width:91.83683013916016px;
	height:91.83683013916016px;
	position:absolute;
	left:34.937923431396484px;
	top:24.955636978149414px;
}
.e24_975 { 
	border-radius:500px;
	background-color:rgba(242.00000077486038, 201.00000321865082, 76.0000030696392, 1);
	width:67.87939453125px;
	height:67.87939453125px;
	position:absolute;
	left:46.91665267944336px;
	top:36.934356689453125px;
}

.e24_976 { 
	width:161.71267700195312px;
	height:233.5849609375px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18.96630096435547px;
	border-top-right-radius:18.96630096435547px;
	border-bottom-left-radius:18.96630096435547px;
	border-bottom-right-radius:18.96630096435547px;
}
.e24_977 { 
	width:134.76055908203125px;
	height:35.93614959716797px;
	position:absolute;
	left:13.975157737731934px;
	top:183.6736297607422px;
}
.e24_978 { 
	width:134.76055908203125px;
	height:35.93614959716797px;
	position:absolute;
	left:0px;
	top:0px;
}
.e24_979 { 
	background-color:rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1);
	width:35.93614959716797px;
	height:35.93614959716797px;
	position:absolute;
	left:98.82442474365234px;
	top:-0.000004210425231576664px;
	border-top-left-radius:8.984037399291992px;
	border-top-right-radius:8.984037399291992px;
	border-bottom-left-radius:8.984037399291992px;
	border-bottom-right-radius:8.984037399291992px;
}

.e24_981 { 
	width:130.7676544189453px;
	height:42.923736572265625px;
	position:absolute;
	left:17.968076705932617px;
	top:133.76231384277344px;
}
.e24_982 { 
	color:rgba(0, 0, 0, 1);
	width:72.87052917480469px;
	height:17.968074798583984px;
	position:absolute;
	left:0.0005231584655120969px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:19.964527130126953px;
	letter-spacing:0;
}
.e24_983 { 
	color:rgba(189.00000393390656, 189.00000393390656, 189.00000393390656, 1);
	width:130.7676544189453px;
	height:17.968074798583984px;
	position:absolute;
	left:-0.0000015386389122795663px;
	top:24.95565414428711px;
	font-family:Roboto;
	text-align:left;
	font-size:11.978715896606445px;
	letter-spacing:0;
}
.e24_984 { 
	width:23.95743179321289px;
	height:23.95743179321289px;
	position:absolute;
	left:118.78893280029297px;
	top:189.66299438476562px;
}
.ei24_984_4_123 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.97516918182373px;
	height:13.97516918182373px;
	position:absolute;
	left:4.991131782531738px;
	top:4.991131782531738px;
}
.e24_985 { 
	width:90.8386001586914px;
	height:90.8386001586914px;
	position:absolute;
	left:36.934383392333984px;
	top:29.9467716217041px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_986 { 
	width:161.71267700195312px;
	height:233.5849609375px;
	position:absolute;
	left:201.64170837402344px;
	top:375.3331298828125px;
}
.e24_987 { 
	border-radius:500px;
	background-color:rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 0.20000000298023224);
	width:91.83683013916016px;
	height:91.83683013916016px;
	position:absolute;
	left:34.93791961669922px;
	top:24.955636978149414px;
}
.e24_988 { 
	border-radius:500px;
	background-color:rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1);
	width:67.87939453125px;
	height:67.87939453125px;
	position:absolute;
	left:46.91661834716797px;
	top:36.934356689453125px;
}

.e24_989 { 
	width:161.71267700195312px;
	height:233.5849609375px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18.96630096435547px;
	border-top-right-radius:18.96630096435547px;
	border-bottom-left-radius:18.96630096435547px;
	border-bottom-right-radius:18.96630096435547px;
}
.e24_990 { 
	width:134.76055908203125px;
	height:35.93614959716797px;
	position:absolute;
	left:13.975150108337402px;
	top:183.6736297607422px;
}
.e24_991 { 
	background-color:rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1);
	width:35.93614959716797px;
	height:35.93614959716797px;
	position:absolute;
	left:98.82440185546875px;
	top:-0.000004210425231576664px;
	border-top-left-radius:8.984037399291992px;
	border-top-right-radius:8.984037399291992px;
	border-bottom-left-radius:8.984037399291992px;
	border-bottom-right-radius:8.984037399291992px;
}

.e24_993 { 
	width:130.7676544189453px;
	height:42.923736572265625px;
	position:absolute;
	left:17.96807098388672px;
	top:133.76231384277344px;
}
.e24_994 { 
	color:rgba(0, 0, 0, 1);
	width:81.85456085205078px;
	height:17.968074798583984px;
	position:absolute;
	left:0.00021431807545013726px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:19.964527130126953px;
	letter-spacing:0;
}
.e24_995 { 
	color:rgba(189.00000393390656, 189.00000393390656, 189.00000393390656, 1);
	width:130.7676544189453px;
	height:17.968074798583984px;
	position:absolute;
	left:-0.000008452408110315446px;
	top:24.95565414428711px;
	font-family:Roboto;
	text-align:left;
	font-size:11.978715896606445px;
	letter-spacing:0;
}
.e24_996 { 
	width:23.95743179321289px;
	height:23.95743179321289px;
	position:absolute;
	left:118.78892517089844px;
	top:189.66299438476562px;
}
.ei24_996_4_123 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.97516918182373px;
	height:13.97516918182373px;
	position:absolute;
	left:4.991131782531738px;
	top:4.991131782531738px;
}
.e24_997 { 
	width:98.83355712890625px;
	height:70.87407684326172px;
	position:absolute;
	left:32.94145965576172px;
	top:40.92726135253906px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_998 { 
	width:161.71267700195312px;
	height:233.5849609375px;
	position:absolute;
	left:9.982237815856934px;
	top:639.8630981445312px;
}
.e24_999 { 
	border-radius:500px;
	background-color:rgba(234.00000125169754, 21.000000648200512, 2.000000118277967, 0.20000000298023224);
	width:91.83683013916016px;
	height:91.83683013916016px;
	position:absolute;
	left:34.937923431396484px;
	top:24.955650329589844px;
}
.e24_1000 { 
	border-radius:500px;
	background-color:rgba(234.00000125169754, 21.000000648200512, 2.000000118277967, 1);
	width:67.87939453125px;
	height:67.87939453125px;
	position:absolute;
	left:46.91665267944336px;
	top:36.934364318847656px;
}

.e24_1001 { 
	width:161.71267700195312px;
	height:233.5849609375px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18.96630096435547px;
	border-top-right-radius:18.96630096435547px;
	border-bottom-left-radius:18.96630096435547px;
	border-bottom-right-radius:18.96630096435547px;
}
.e24_1002 { 
	width:134.76055908203125px;
	height:35.93614959716797px;
	position:absolute;
	left:13.975157737731934px;
	top:183.67364501953125px;
}
.e24_1003 { 
	background-color:rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1);
	width:35.93614959716797px;
	height:35.93614959716797px;
	position:absolute;
	left:98.82442474365234px;
	top:0.000001747130795592966px;
	border-top-left-radius:8.984037399291992px;
	border-top-right-radius:8.984037399291992px;
	border-bottom-left-radius:8.984037399291992px;
	border-bottom-right-radius:8.984037399291992px;
}

.e24_1005 { 
	width:130.7676544189453px;
	height:42.923736572265625px;
	position:absolute;
	left:17.968076705932617px;
	top:133.7623291015625px;
}
.e24_1006 { 
	color:rgba(0, 0, 0, 1);
	width:81.85456085205078px;
	height:17.968074798583984px;
	position:absolute;
	left:0.0005231584655120969px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:19.964527130126953px;
	letter-spacing:0;
}
.e24_1007 { 
	color:rgba(189.00000393390656, 189.00000393390656, 189.00000393390656, 1);
	width:130.7676544189453px;
	height:17.968074798583984px;
	position:absolute;
	left:-0.0000015386389122795663px;
	top:24.955659866333008px;
	font-family:Roboto;
	text-align:left;
	font-size:11.978715896606445px;
	letter-spacing:0;
}
.e24_1008 { 
	width:23.95743179321289px;
	height:23.95743179321289px;
	position:absolute;
	left:118.78893280029297px;
	top:189.66299438476562px;
}
.ei24_1008_4_123 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.97516918182373px;
	height:13.97516918182373px;
	position:absolute;
	left:4.991131782531738px;
	top:4.991131782531738px;
}
.e24_1009 { 
	width:74.90863037109375px;
	height:71.79878997802734px;
	position:absolute;
	left:62.88827133178711px;
	top:44.92017364501953px;
	background-image:url(images/image_3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_1010 { 
	width:161.71267700195312px;
	height:233.5849609375px;
	position:absolute;
	left:201.64170837402344px;
	top:639.8630981445312px;
}
.e24_1011 { 
	border-radius:500px;
	background-color:rgba(144.00000661611557, 89.00000229477882, 167.00000524520874, 0.20000000298023224);
	width:91.83683013916016px;
	height:91.83683013916016px;
	position:absolute;
	left:34.93791961669922px;
	top:24.955650329589844px;
}
.e24_1012 { 
	border-radius:500px;
	background-color:rgba(143.63221675157547, 89.38293814659119, 166.88192278146744, 1);
	width:67.87939453125px;
	height:67.87939453125px;
	position:absolute;
	left:46.91661834716797px;
	top:36.934364318847656px;
}

.e24_1013 { 
	width:161.71267700195312px;
	height:233.5849609375px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:18.96630096435547px;
	border-top-right-radius:18.96630096435547px;
	border-bottom-left-radius:18.96630096435547px;
	border-bottom-right-radius:18.96630096435547px;
}
.e24_1014 { 
	width:134.76055908203125px;
	height:35.93614959716797px;
	position:absolute;
	left:13.975150108337402px;
	top:183.67364501953125px;
}
.e24_1015 { 
	background-color:rgba(111.00000098347664, 207.00000286102295, 151.00000619888306, 1);
	width:35.93614959716797px;
	height:35.93614959716797px;
	position:absolute;
	left:98.82440185546875px;
	top:0.000001747130795592966px;
	border-top-left-radius:8.984037399291992px;
	border-top-right-radius:8.984037399291992px;
	border-bottom-left-radius:8.984037399291992px;
	border-bottom-right-radius:8.984037399291992px;
}

.e24_1017 { 
	width:130.7676544189453px;
	height:42.923736572265625px;
	position:absolute;
	left:17.96807098388672px;
	top:133.7623291015625px;
}
.e24_1018 { 
	color:rgba(0, 0, 0, 1);
	width:94.83150482177734px;
	height:17.968074798583984px;
	position:absolute;
	left:0.00021431807545013726px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:19.964527130126953px;
	letter-spacing:0;
}
.e24_1019 { 
	color:rgba(189.00000393390656, 189.00000393390656, 189.00000393390656, 1);
	width:130.7676544189453px;
	height:17.968074798583984px;
	position:absolute;
	left:-0.000008452408110315446px;
	top:24.955659866333008px;
	font-family:Roboto;
	text-align:left;
	font-size:11.978715896606445px;
	letter-spacing:0;
}
.e24_1020 { 
	width:23.95743179321289px;
	height:23.95743179321289px;
	position:absolute;
	left:118.78892517089844px;
	top:189.66299438476562px;
}
.ei24_1020_4_123 { 
	background-color:rgba(255, 255, 255, 1);
	width:13.97516918182373px;
	height:13.97516918182373px;
	position:absolute;
	left:4.991131782531738px;
	top:4.991131782531738px;
}
.e24_1021 { 
	width:84.8492431640625px;
	height:51.1099739074707px;
	position:absolute;
	left:50.9095344543457px;
	top:58.895347595214844px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e24_1022 { 
	width:23.95743179321289px;
	height:23.95743179321289px;
	position:absolute;
	left:10.980467796325684px;
	top:57.89712142944336px;
}
.ei24_1022_22_182 { 
	background-color:rgba(46.000001057982445, 58.1833329051733, 89.00000229477882, 1);
	width:19.964527130126953px;
	height:19.964527130126953px;
	position:absolute;
	left:1.9964525699615479px;
	top:1.9964525699615479px;
}
